@import 'tailwindcss';

.fc {
  @apply flex items-center justify-center;
}
.fcc {
  @apply flex flex-col items-center justify-center;
}

button {
  @apply border px-2  h-8 flex items-center justify-center bg-black/70 text-white rounded-lg;
}

input[type='text'] {
  @apply border border-black/20 w-full px-2 py-1 rounded-lg;
}
input[type='range'] {
  @apply border border-black/20 w-full px-2 py-1 rounded-lg;
}

/* WebKit browsers (Chrome, Edge) */
*::-webkit-color-swatch {
  border-radius: 6px;
  border: 1px solid #00000099;
}

/* Firefox */
*::-moz-color-swatch {
  border-radius: px%;
  border: none;
}
